@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
}

/* 扫描线效果 */
body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100;
  background-size: 100% 4px, 3px 100%;
  pointer-events: none;
  opacity: 0.3;
}

/* 文字微弱辉光 */
* {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

/* 隐藏滚动条但保留功能 */
::-webkit-scrollbar {
  display: none;
}